Repository yamat47/kcff-match-hub, changes with the labels that .github/labeler.yml gives for each.
All labels: changed:environments, changed:app, changed:github

sample
  .github/sample.txt
Labels: changed:github

add more commit
  .github/sample.txt
  app/sample.txt
Labels: changed:app, changed:github

sample
  .github/workflows/labeler.yml
  app/sample.txt
  environments/sample.txt
Labels: changed:environments, changed:app, changed:github

Sync label by labeler
  .github/workflows/labeler.yml
Labels: changed:github

sample commit.
  .github/sample.txt
Labels: changed:github

move sample file from .github to app.
  .github/sample.txt
  app/sample.txt
Labels: changed:app, changed:github

move sample file from app to environments.
  app/sample.txt
  environments/sample.txt
Labels: changed:environments, changed:app

remove sample file.
  environments/sample.txt
Labels: changed:environments

add sample file
  sample.txt
Labels: none

Update ruby to 3.3.4
  app/.ruby-version
  app/Gemfile
  app/Gemfile.lock
  environments/development/Dockerfile
Labels: changed:environments, changed:app

Exec `bundle update`.
  app/Gemfile.lock
Labels: changed:app

sample commit.
  README.md
Labels: none

wrap breadcrumbs.
  app/app/assets/stylesheets/media/breadcrumbs.css
Labels: changed:app

Add hero image to top page.
  app/app/assets/images/hero-1.jpg
  app/app/assets/images/hero-2.jpg
  app/app/assets/images/hero-3.jpg
  app/app/assets/images/hero-4.jpg
  app/app/assets/images/hero-5.jpg
  app/app/assets/stylesheets/media.css
  app/app/assets/stylesheets/media/hero.css
  app/app/views/media/homes/show.html.haml
Labels: changed:app

Exec `bundle update`.
  app/Gemfile.lock
Labels: changed:app

Exec `bin/rails app:update`.
  app/bin/brakeman
  app/bin/rubocop
  app/bin/setup
  app/config/cable.yml
  app/config/environments/development.rb
  app/config/environments/production.rb
  app/config/environments/test.rb
  app/config/initializers/filter_parameter_logging.rb
  app/config/initializers/new_framework_defaults_7_2.rb
  app/config/puma.rb
  app/db/migrate/20240810154235_add_service_name_to_active_storage_blobs.active_storage.rb
  app/db/migrate/20240810154236_create_active_storage_variant_records.active_storage.rb
  app/db/migrate/20240810154237_remove_not_null_on_active_storage_blobs_checksum.active_storage.rb
  app/public/406-unsupported-browser.html
  app/public/icon.png
  app/public/icon.svg
Labels: changed:app

Exec `bin/rails db:migrate`.
  app/db/schema.rb
Labels: changed:app

Exclude default Rails-generated files from RuboCop checks.
  app/.rubocop.yml
Labels: changed:app

Enable Rails 7.2's default configuration.
  app/config/application.rb
  app/config/initializers/new_framework_defaults_7_2.rb
Labels: changed:app

Fix deprecation warning for ActiveRecord.
  app/app/models/game_result.rb
Labels: changed:app

Update notice style.
  app/app/assets/images/icon-right-arrow.svg
  app/app/assets/stylesheets/media/notice-list.css
  app/app/assets/stylesheets/media/notice.css
  app/app/assets/stylesheets/media/teams.css
  app/app/views/media/notices/index.html.haml
  app/app/views/media/notices/show.html.haml
Labels: changed:app

Add notice list to media home.
  app/app/assets/stylesheets/media.css
  app/app/assets/stylesheets/media/button.css
  app/app/assets/stylesheets/media/home.css
  app/app/controllers/media/homes_controller.rb
  app/app/views/media/homes/show.html.haml
Labels: changed:app

Add game schedule list to media home.
  app/app/assets/stylesheets/media/hero.css
  app/app/assets/stylesheets/media/home.css
  app/app/assets/stylesheets/media/notice-list.css
  app/app/controllers/media/homes_controller.rb
  app/app/models/game_schedule.rb
  app/app/views/media/homes/show.html.haml
  app/spec/factories/teams.rb
  app/spec/factories/tournaments.rb
  app/spec/models/game_schedule_spec.rb
Labels: changed:app

Add footer.
  app/app/assets/images/kcff-logo.png
  app/app/assets/stylesheets/media.css
  app/app/assets/stylesheets/media/application-header.css
  app/app/assets/stylesheets/media/footer.css
  app/app/views/layouts/media/_footer.html.haml
  app/app/views/layouts/media/application.html.haml
Labels: changed:app

Replace default hero images.
  app/app/assets/images/hero-1.jpg
  app/app/assets/images/hero-2.jpg
  app/app/assets/images/hero-3.jpg
  app/app/assets/images/hero-4.jpg
  app/app/assets/images/hero-5.jpg
Labels: changed:app

Set header logo link.
  app/app/views/layouts/media/_header.html.haml
Labels: changed:app

Fix admin form style.
  app/app/assets/stylesheets/admin/field.css
  app/app/assets/stylesheets/admin/fields.css
  app/app/views/admin/game_fields/_form.html.haml
  app/app/views/admin/teams/team_profiles/_form.html.haml
Labels: changed:app

Add MediaHeroImage model.
  app/app/models/media_hero_image.rb
  app/db/migrate/20240812052745_create_media_hero_images.rb
  app/db/schema.rb
Labels: changed:app

Show media_hero_image on admin.
  app/app/assets/images/icon-setting.png
  app/app/assets/stylesheets/admin/list.css
  app/app/controllers/admin/media_page_settings_controller.rb
  app/app/views/admin/media_page_settings/show.html.haml
  app/app/views/layouts/admin/_sidebar.html.haml
  app/config/locales/ja.yml
  app/config/routes/admin.rb
  app/spec/factories/media_hero_images.rb
Labels: changed:app

Add CRUD actions.
  app/app/assets/stylesheets/admin/field-value.css
  app/app/assets/stylesheets/admin/list.css
  app/app/assets/stylesheets/common/text-link.css
  app/app/controllers/admin/media_page_settings/media_hero_images_controller.rb
  app/app/views/admin/media_page_settings/media_hero_images/_form.html.haml
  app/app/views/admin/media_page_settings/media_hero_images/edit.html.haml
  app/app/views/admin/media_page_settings/media_hero_images/new.html.haml
  app/app/views/admin/media_page_settings/show.html.haml
  app/config/locales/ja.yml
  app/config/routes/admin.rb
  app/spec/factories/media_hero_images.rb
Labels: changed:app

Use persisted media hero images.
  app/app/assets/stylesheets/media/hero.css
  app/app/controllers/media/homes_controller.rb
  app/app/views/media/homes/show.html.haml
Labels: changed:app

Move default hero images to /media.
  app/app/assets/images/media/hero/hero-1.jpg
  app/app/assets/images/media/hero/hero-2.jpg
  app/app/assets/images/media/hero/hero-3.jpg
  app/app/assets/images/media/hero/hero-4.jpg
  app/app/assets/images/media/hero/hero-5.jpg
  app/app/views/media/homes/show.html.haml
Labels: changed:app

Add Google Map URLs document.
  app/app/assets/images/admin/documents/get_google_map_urls/embed-map.png
  app/app/assets/images/admin/documents/get_google_map_urls/input-urls.png
  app/app/assets/images/admin/documents/get_google_map_urls/search-result.png
  app/app/assets/images/admin/documents/get_google_map_urls/share-link.png
  app/app/assets/stylesheets/common.css
  app/app/assets/stylesheets/common/extend-github-flavored-markdown.css
  app/app/assets/stylesheets/common/github-flavored-markdown.css
  app/app/controllers/admin/documents_controller.rb
  app/app/views/admin/documents/get_google_map_urls.html.haml
  app/app/views/admin/documents/show.html.haml
  app/config/routes/admin.rb
Labels: changed:app

Add form help text.
  app/app/assets/stylesheets/admin/form.css
  app/app/views/admin/game_fields/_form.html.haml
  app/app/views/admin/game_schedules/game_results/new.html.haml
  app/app/views/admin/media_page_settings/media_hero_images/_form.html.haml
  app/app/views/admin/seasons/_form.html.haml
  app/app/views/admin/teams/_form.html.haml
  app/app/views/admin/teams/logos/_form.html.haml
  app/config/locales/ja.yml
Labels: changed:app

Admin auth style.
  app/app/assets/stylesheets/admin.css
  app/app/assets/stylesheets/admin/sign-in-with-google.css
  app/app/assets/stylesheets/admin/sign-in.css
  app/app/views/admin/sessions/new.html.haml
Labels: changed:app

Add basic authentication to production mode.
  app/app/controllers/admin/application_controller.rb
  environments/development/.app-env.sample
Labels: changed:environments, changed:app

Create 404, 422, 406, 500 page.
  app/public/404.html
  app/public/406-unsupported-browser.html
  app/public/422.html
  app/public/500.html
Labels: changed:app

Remove admin logo.
  app/app/assets/images/logo.svg
  app/app/assets/stylesheets/admin/sidebar.css
  app/app/views/layouts/admin/_sidebar.html.haml
Labels: changed:app

Set media page title.
  app/app/controllers/media/game_schedules_controller.rb
  app/app/helpers/media/seo_helper.rb
  app/app/views/layouts/media/application.html.haml
  app/app/views/media/game_fields/index.html.haml
  app/app/views/media/game_schedules/index.html.haml
  app/app/views/media/notices/show.html.haml
  app/app/views/media/teams/index.html.haml
  app/config/locales/ja.yml
  app/spec/helpers/media/seo_helper_spec.rb
Labels: changed:app

Integrate rack-mini-profiler.
  app/Gemfile
  app/Gemfile.lock
  app/config/initializers/rack_mini_profiler.rb
Labels: changed:app

.github/labeler.yml:

"changed:environments":
  - changed-files:
    - any-glob-to-any-file: environments/**

"changed:app":
  - changed-files:
    - any-glob-to-any-file: app/**

"changed:github":
  - changed-files:
    - any-glob-to-any-file: .github/**
